* {
    scrollbar-width: none;
}

.navbar-brand {
    width: 10rem;
}

.hero-video {
    height: 100vh;
}

.card-css {
    height: 11rem;
}

.partner-row-css {
    margin: 25px 0;
}

.partner-col-css {
    width: 200px;
    height: 200px;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    margin: 0 15px;
    overflow: hidden;
    background-color: rgb(33, 33, 33);
}

.partners-main-css {
    background: linear-gradient(-15deg, rgb(0, 0, 139), black);
}

.booking-form-css {
    /* background-color: black; */
    background: linear-gradient(40deg, rgb(0, 0, 139), black, blue);
}


@media (min-width:1199px) {
    .form-css {
        width: 80%;
    }
}

.pointer {
    cursor: pointer;
}

.insta-css, .youtube-css {
    color:#ea3c3c;
}

.contact-container-css{
    width: 50%;
}

.hover-red:hover{
    color: red;
}

@media (max-width:1199px) {
    .contact-container-css{
        width: 80%;
    }
}

.icn-title {
    font-size: 1rem;
    text-align: center;
}

.docs-link-css{
    text-decoration: none;
    color: black;
}

.venture-title-css{
    font-family: 'Courier New', Courier, monospace;
}

.sercices-nav-css{
    font-size: 0.9rem;
}

.contact-hero{
    background-image: url("https://images.unsplash.com/photo-1534536281715-e28d76689b4d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hover-shadow:hover{
    text-shadow: 0px 0px 30px grey;
}

.sections-container-css{
    /* background: linear-gradient(10deg, red, black); */
    background: linear-gradient(-4deg,black,black,black,black,black, grey, black, grey, black, grey, black)
}